body{
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {

    background-color: #2c294b !important;
    z-index: -10 !important;
    padding: 50px;
    
}
.navbar-brand{
    
    color: #fff !important;
    font-size: 50px;

}

.fa-user{
    font-size: 40px;
    color: white;
    background-color: black;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50%;
}
.fa-brightness{
    font-size: 40px;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    /* background-color: wheat; */
}

.container .row-horizontal{

    height:  auto!important;
    /* background-color: #546972; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 2px 2px 10px gray;
    
    
}
.horizontal-item{
    /* position: absolute; */
}
.category{
    /* position: absolute; */
    
}

.row-horizontal:hover{
    border: 3px solid #4882D8 !important;
}
.horizontal-row{
    width: 50px;
    height: 50px;
    text-align: center;
}

.card .card-text{

    font-size: 20px;
    font-weight: 700;



}
.product:hover{
    box-shadow: 2px 2px 10px gray;

}
.Amount{
    color: rgb(8, 253, 8);
    font-size: 30px;
}


/*  clear button styling */

.clearButton {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    /* display: flex; */
    /* flex: end; */

    border-radius: 20px; /* Rounded corners */
    background: linear-gradient(90deg, #0b7998, #2db036); /* Gradient background */
    color: white; /* Text color */
    font-weight: bold; /* Bold text */
    padding: 10px 20px; /* Padding for larger button */
    border: none; /* Remove border */
    transition: transform 0.2s ease, background-color 0.2s ease; /* Hover effects */
  }

  .clearButton:hover {
    background: linear-gradient(90deg, #feb47b, #ff7e5f); /* Reverse gradient on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
  }



/* style for table in  */



table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
tr:hover {
    background-color: #f1f1f1;
}
.delete-btn {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 5px;
}
.edit {
    background-color: #4CAF50;
}
.delete {
    background-color: #f44336;
}
.totalprice{
    font-size: larger;
    background-color: #0b7998;
}
